{% extends "bootstrap.twig" %}

{% block konten %}

<body>
	<div class="container mt-5">
		<div class="alert alert-warning"> Berhasil menghapus pinjam
			<a href="form-pinjam.php" input type="reset"  class="btn btn-danger"  name="kosongkan" value="reset"><i class="bi bi-reply-all-fill"></i></a>
		</div>
    </div>
</body>


{% endblock %}